.about__txt {
  margin: 0 1rem 0 2rem;
  text-align: justify;
  line-height: 1rem;
}

@media only screen and (min-width: 768px) {
  .about__txt {
    max-width: 425px;
    justify-content: center;
    align-self: center;
  }
}