@media only screen and (min-width: 768px) {
  .about__heading:hover {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    z-index: 11;
  }

  .about__txt {
    max-width: 425px;
    justify-content: center;
    align-self: center;
    line-height: 1rem;
  }
}

.about__txt {
  margin: 0 1rem 0 2rem;
  text-align: justify;
}