.connections {
  margin: auto;
}

.connect-option {
  font-family: 'Chivo', sans-serif;
  margin-left: 3rem;
  font-weight: 200;
  font-size: 4rem;
  letter-spacing: -2px;
}

.connect-option:hover {
  color:black;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .connections {
    display: flex;
  }
  
  .connect-option {
    font-size: 4.25rem;
    font-weight: 300;
  }
}