@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
/* font-family: 'Ubuntu Mono', monospace; */
/* font-family: 'Tomorrow', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h5 {
  font-family: 'Tomorrow', sans-serif;
}

.content-section {
  display: flex;
  align-items: center;
  border-bottom: 1px black solid;
  /* max-height: 20vh; */
}

.heading {
  font-size: 2.5rem;
  font-weight: 500;
}

.heading-div {
  width: 100%;
}

.sub-heading {
  font-weight: 400;
  font-size: 1.5rem;
}

.strong-text {
  font-weight: 700;
}

p, a {
  font-family: 'Ubuntu Mono', monospace;
}

a {
  font-weight: 700;
  color: black;
}