.intro {
    height: 100vh;
    margin-top: 5rem;
    text-align: center;
}

.intro-div {
    text-align: left;
    /* margin-bottom: 15rem; */
}

.intro-txt {
    font-size: 15vw;
    font-weight: 100;
}

.scroll-btn {
    font-size: 1rem;
    padding: 0.25rem;
    /* width: 20vw; */
    /* margin: auto; */
}

@media only screen and (max-width: 834px) {
    .intro-div {
      writing-mode: vertical-rl;
      text-align: left;
      margin-top: 7vh;
      margin: auto;
    }

    .intro-txt {
        font-size: 12vh;
    }
    
    .scroll-btn {
        width: 25vw;
        font-size: .75rem;
        margin: auto;
        margin-top: 2rem;
    }
}