.header {
  display: flex;
  max-width: 320px;
}

.header__txt {
  font-size: 4rem;
  font-weight: 300;
  align-self: flex-start;
  line-height: 3rem;
}

.floating-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.floating-btn {
  position: fixed;
  right: 0px;
  margin-right: 0.25rem;
  border: 1px solid black;
}

.floating-btn:hover {
  background-color: black;
  color: #fffff4;
  border: 1px solid #fffff4;
}

.floating-btn--about {
  top: 10px;
  width: 4.5rem;
}

.floating-btn--work {
  top: 50px;
  width: 6rem;
}

.floating-btn--cv {
  top: 90px;
  width: 3rem;
}

.floating-btn--connect {
  bottom: 60px;
  right: -50px;
  width: 5.5rem;
  transform: rotate(90deg);
}

@media only screen and (max-width: 768px) {
  .floating-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .floating-btn {
    position: fixed;
    right: 0px;
    margin-right: 0.25rem;
    border: 1px solid black;
  }

  .floating-btn--connect {
    right: -30px;
    bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .floating-btn {
    font-size: 1.5rem;
    padding: 0.25rem 0;
  }

  .floating-btn--about {
    width: 7rem;
  }
  
  .floating-btn--work {
    top:60px;
    width: 8.5rem;
  }
  
  .floating-btn--cv {
    top: 110px;
    width: 4rem;
  }
  
  .floating-btn--connect {
    width: 8rem;
    right: -50px;
    bottom: 60px;
  }

}