/* .cv {
  display: flex;
  flex-direction: column;
} */

/* .cv-section {
  width: 100vw;
} */

/* @media only screen and (min-width: 768px) {
  .cv-heading:hover {
    background-color: #ffbe0b;
  }
} */

.cv-heading {
  font-style: italic;
  margin-left: 2rem;
}